<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ляо Ихун 291007 567763</title>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/jsx" src="../js/mainA.jsx"></script>
    <script type="text/jsx" src="../js/mainHelper/action.jsx"></script>
    <script type="text/jsx" src="../js/mainHelper/reducer.jsx"></script>
    <script type="text/jsx" src="../js/require.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<div id="canvas"></div>
<div id="canvas_form_div"></div>
</body>
</html>