<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ляо Ихун 291007 567763</title>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/jsx" src="../js/register.jsx"></script>
</head>
<body>
<div class="text">
    Welcome!
</div>
<div class="text">
    Now you can sign up your own account!
</div>
<div id="sign-up">

</div>
</body>
</html>